/*
Generales
*/

* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

h2 {
    font-size: 2.1ems;
    font-weight: bold;
}

p {
    font-size: 1.7em;
}

a {
    text-decoration: none;
}

footer {
    background-color: #000;
    color: #fff;
    height: auto;
    display: flex;
    align-items: center;   
}

ul {
    margin: 0;
    display: flex;
    list-style: none;
}

a {
    margin: 6px;
    padding: 4px 5px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(189, 186, 186);
    width: max-content;
    height: max-content;
}

.seleccionado {
    text-shadow: 2px 2px 3px black;
    box-shadow: inset 1px 1px 3px #000, inset -1px -1px 3px #fff;
    border: 2px solid rgb(189, 186, 186);
}

/*
Generales
*/

/*
Cabecera
*/

header {
    background-color: #000;
    color: #fff;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

header nav{
    padding-top: 15px;
}
header h1 {
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

/*
Cabecera
*/

/*
Main 
*/

main {
    background-color: rgb(245, 245, 245);
    margin: 0;
    margin-bottom: 70px;
    /* display: flex;
    flex-direction: column; */

}

main h2 {
    margin-top: 0;
    padding-top: 15px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
main section{
    display: grid;
    width: 100vh;
    grid-template-columns: repeat(2, 49%); 
    flex-direction: column;
   
    justify-content:space-around;
    gap: 1.7% 1%;
    margin: 15px 10px;
}

main .contenedor{
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 45%;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgba(51, 39, 39,0.3);
    border: 1px solid rgba(0, 0, 0, 0.2) #006600;    
}

main img {
    width: 100%;
    margin: 0;
    border-radius: 8px;
}

/*
Main 
*/

/*
Pie de Pagina
*/

footer {
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    z-index: 2500;
    display: flex;
    grid-template-columns: auto auto;
}

#imgsociales {
    display: flex;
    margin: 0 auto;
    
}

#imgsociales img {
    height: 20px;
    padding: 0 2px;
    align-items: center;
}

.infos {
     
    align-content: center;
    
}

#nombre:hover {
    animation: 1.2s ease 0s infinite rota;
}

@keyframes rota {
    0% {
        transform: rotateZ(0deg);
    }

    33% {
        transform: rotateZ(10deg) rotateY(30deg) scale(1.5);

    }

    66% {
        transform: rotateZ(-10deg) rotateY(-25deg) rotateX(25deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

/*
Pie de Pagina
*/

@media screen and (max-width:500px) {
    header h1{
        font-size: 1.8em;
    }

    
    .infos{
        font-size: 0.7em;
        width: min-content;
        margin: 0 auto;
    }
    
    #imgsociales img {
        height: 10px;
    a{
        font-size: 0.5em;
        padding: 2px;
        margin: 2px;
    }
    main section{
        grid-template-columns: 98%;
    } 
}

/*Formulario de Registros*/

main #formularioRegistro{
    grid-template-columns: none;
    justify-content: initial;
}
 main label input{
    display:block;
 }